/* Carousel */

.carousel {
  background-color: $c-white-darker;
  height: calc(100vh - 3rem);

  @include breakpoints(break-x-small) {
    height: auto;
  }

  &--title {
    color: $c-dark-gray;
    padding-bottom: $unit-spacing;

    @include breakpoints(break-x-medium) {
      padding: $unit-spacing*2;
    }
  }

  &--subtitle {
    font-family: $typography-secondary-regular;

    @include breakpoints(break-x-medium) {
      padding: 0 $unit-spacing*2;
    }
  }

  &--items {
    display: flex;
    align-items: center;
    height: 80%;
    overflow-x: scroll;

    @include breakpoints(break-x-medium) {
      padding-bottom: $unit-spacing*5;
    }
  }
}
