#container { margin: $unit-spacing-2 0; }

#circle {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px; /* height of container */
  object-fit: cover;
  border: 2px solid $c-darker-gray;
}

#circle text {
  font-family: $typography-fourth-regular;
  font-size: 16px;
  font-weight: bold;
}

#circle svg {
  position: absolute;
  left: 0;
  bottom: 9%;
  width: 100%;
  height: 250px;
  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 7s;
     -moz-animation-duration: 7s;
      -ms-animation-duration: 7s;
       -o-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}
