/* Cursor */

.cursor {
  position: relative;
	pointer-events: none;
	border-radius: 50%;

  --size-small: 20px;

  border: 2px solid $c-light-gray;
  opacity: 0.8;
  width: var(--size-small);
  height: var(--size-small);
  z-index: 9999;
}

.cursor::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  z-index: 99999;
  background: rgb(154, 41, 82);
  border-radius: 50%;
  opacity: 0.8;
  transition: width .3s, height .3s, left .3s, top .3s, opacity .3s;
  animation: cursorAnim2 .5s infinite alternate;
}


@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid rgb(154, 41, 82);
}

* {
  cursor: none;
}
