.last {
  .heading-intro {
    width: 50%;
    padding: 120px;
    margin: 0 auto;
    font-size: 35px;
    font-weight: 500;
  }

  .article {
    display: grid;
    grid-template-columns: 1fr 60%;
    grid-column-gap: 50px;

    .left {
      justify-self: end;

      figure {
        width: 300px;
        height: 450px;
      }
    }

    .right {
      .block {
        width: 70%;
        margin-bottom: 30px;
        p {
          margin-top: 30px;
        }
      }
    }
  }
}
