/* Portfolio-grid */

#portfolio-grid {
  display: grid;
  justify-content: center;
	grid-gap: 5px;

  img {
    width: 100%;
    max-width: 800px;
    height: auto;

    @media (min-width: 768px) {
      width: 100%;
    }
  }
}
/* items */

.container {
  padding-top: 20rem;
}

.portfolio-item {
	position: relative;
  width: 100vw;
  display: flex;
  // justify-content: center;
  justify-content: flex-end;
  background-color: $c-white--2;
}

.item-overlay {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #000;
	content: "";
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.05;
	position: absolute;
	transition: opacity .25s ease;
	width: 100%;
	will-change: opacity;
	z-index: 2;
}

.item-link:hover > .item-overlay {
  opacity: 0.1;
}

.item-caption {
	position: absolute;
	height: 100%;
	width: 100%;
  max-width: 450px;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 2rem;
	z-index: 3;
  background-color: $c-white--2;

  @media (max-width: 768px) {
    position: unset;
  }
}

.portfolio-grid--central-content {
  background: $c-white;
  border: 5px solid $c-white;
  padding: 50px 125px 100px;
  font-size: $unit-spacing-1;
  line-height: 35px;
  font-weight: 400;
  width: 100%;
  // max-width: 950px;

  @media (max-width: 768px) {
    padding: $unit-spacing-3;
    padding: 2rem;
  }
}

.grid {
  padding: $unit-spacing-2 $unit-spacing-3;

  &--display-none {
    display: none;
  }

  @include breakpoints(break-x-medium) {
    padding: $unit-spacing-2 $unit-spacing--3 $unit-spacing-2 $unit-spacing-2;
  }
}
