<div class="hero wrapper--extra-big borders">
  <section class="hero--header">
    <h1 class="hero--title h1">Work experiences</h1>
    <div class="bottom">
      <div class="bottom-left color-light-gray h5">Learn and try new things all the time</div>
      <div class="bottom-right color-light-gray h5">The front end is constantly changing and adapting. </div>
    </div>
  </section>
  <div class="content">
    <card></card>
    <!-- <education></education> -->
  </div>
</div>
<div class="pre-footer"></div>
