<div class="hero wrapper--xxl">
  <section class="hero--header">
    <h1 class="hero--title h1">Work experiences</h1>
    <div class="bottom">
      <div class="bottom-left color-light-gray h5">Learn and try new things all the time</div>
      <div class="bottom-right color-light-gray h5">The front end is constantly changing and adapting. </div>
    </div>
  </section>
  <div class="content">
    <div id="portfolio-grid">
      <div id="project-1" class="portfolio-item bg-danger">
        <a href="#" class="item-link">
          <div class="item-overlay"></div>
            <img class="img-fluid" src="../../../assets/images/barcellona01.jpeg" />
            <div class="item-caption">
            <h3>Project 1</h3>
            <p>Some subtext sentence</p>
          </div>
        </a>
      </div>
      <div id="project-2" class="portfolio-item bg-danger">
        <a href="#" class="item-link">
          <div class="item-overlay"></div>
          <img class="img-fluid" src="../../../assets/images/barcellona01.jpeg">
          <div class="item-caption">
            <h3>Project 2</h3>
            <p>Some subtext sentence</p>
          </div>
        </a>
      </div>
      <div id="project-3" class="portfolio-item bg-danger">
        <a href="#" class="item-link">
          <div class="item-overlay"></div>
          <img class="img-fluid" src="../../../assets/images/barcellona01.jpeg">
          <div class="item-caption">
            <h3>Project 3</h3>
            <p>Some subtext sentence</p>
          </div>
        </a>
      </div>
      <div id="project-4" class="portfolio-item bg-danger">
        <a href="#" class="item-link">
          <div class="item-overlay"></div>
          <img class="img-fluid" src="../../../assets/images/barcellona01.jpeg">
          <div class="item-caption">
            <h3>Project 4</h3>
            <p>Some subtext sentence</p>
          </div>
        </a>
      </div>
      <div id="project-5" class="portfolio-item bg-danger">
        <a href="#" class="item-link">
          <div class="item-overlay"></div>
          <img class="img-fluid" src="../../../assets/images/barcellona01.jpeg">
          <div class="item-caption">
            <h3>Project 5</h3>
            <p>Some subtext sentence</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>
<div class="pre-footer"></div>
