<div class="hero wrapper--xxl">
  <section class="hero--header">
    <h1 class="hero--title h1">Work experiences</h1>
    <div class="bottom">
      <div class="bottom-left color-light-gray h5">Learn and try new things all the time</div>
      <div class="bottom-right color-light-gray h5">The front end is constantly changing and adapting. </div>
    </div>
  </section>
  <div class="content">
    <div class="portfolio-grid--central-content color-darker-gray typography-third">
      It's a small gallery of recent projects chosen by me. I've done them all together with amazing people. <br>
      I create responsive websites that are fast, easy to use, and built with best practices. <br>
      The main area of my expertise is front-end development, <span class="bold">HTML5, SASS, JS, TS, Angular, knowledge of React</span> <br>
      building small and medium web apps, features, animations, and coding layouts.
    </div>
    <div id="portfolio-grid">
      <div class="portfolio-item">
        <div id="project-1">
          <div class="item-link">
            <div class="item-overlay"></div>
              <img class="img-fluid" src="../../../assets/images/rte.png" />
              <div class="item-caption color-darker-gray">
                <h3 class="typography-fourth bold spacing-bottom">RTE Player</h3>
                <div class="typography-third spacing-bottom">Is an on demand video service provided by Irish public media broadcaster RTE</div>
                <div class="typography-third spacing-bottom">Fe Technology: Angular v12</div>
                <div class="typography-third spacing-bottom">Link: <a href="https://www.rte.ie/player/">RTE Player</a></div>
              </div>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div id="project-2">
          <div class="item-link">
            <div class="item-overlay"></div>
            <img class="img-fluid" src="../../../assets/images/aljazira.png">
            <div class="item-caption color-darker-gray">
              <h3 class="typography-fourth bold spacing-bottom">The AlJazira SMART and SAIB Mobile banking</h3>
              <div class="typography-third spacing-bottom">The AlJazira SMART and SAIB Mobile banking application with new interface and features to provide our customers the best experience.</div>
              <div class="typography-third spacing-bottom">Fe Technology: Angular v12</div>
              <div class="typography-third spacing-bottom">Link: <a href="https://apps.apple.com/it/app/aljazira-smart/id469515886?l=en">The AlJazira SMART</a></div>
              <div class="typography-third spacing-bottom">Link: <a href="https://apps.apple.com/it/app/saib-business/id1487662265?l=en">SAIB Businessr</a></div>
              <div class="typography-third spacing-bottom">Link: <a href="https://apps.apple.com/it/app/saib-corporate-currency-card/id1479004808?l=en">SAIB Corporate Currency Card</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div id="project-3">
          <div class="item-link">
            <div class="item-overlay"></div>
            <img class="img-fluid" src="../../../assets/images/runroom.png">
            <div class="item-caption color-darker-gray">
              <h3 class="typography-fourth bold spacing-bottom">Runroom</h3>
                <div class="typography-third spacing-bottom">Runroom | Digital Business Consultancy</div>
                <!-- <div class="typography-third spacing-bottom">Fe Technology: Angular v12</div> -->
                <div class="typography-third spacing-bottom">Link: <a href="https://www.runroom.com/">Runroom</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pre-footer"></div>
