<div class="grid">
    <div class="row">
      <!-- <div ng-class="{'col' : a, 'class2' : !a, 'class3': b !== c }"></div> -->
      <div [ngClass]="{'col': hideColumn , 'col-8' : !hideColumn}">
        <app-model-obj [heightObj]=true></app-model-obj>
      </div>
      <div [ngClass]="{'grid--display-none': hideColumn}" class="col-4">Lorem ipsum</div>
    </div>
    <div class="spacing-0"></div>
    <div class="row">
      <!-- <div class="col"> -->
        <app-items style="display: flex; margin: 0 auto;"></app-items>
      <!-- </div> -->
    </div>
</div>
<!-- <div ng-class="{'col' : a, 'class2' : !a, 'class3': b !== c }"></div> -->
<!-- <div [ngClass]="{'col': hideColumn , 'col-8' : !hideColumn}">
  <app-model-obj
    [heightObj]=true
    [obj$]="model"
    ></app-model-obj>
  </div>
<div [ngClass]="{'grid--display-none': hideColumn}" class="col-4">Lorem ipsum</div> -->
