/* Unit spacing Variables */

$unit-spacing--3: 0.25rem;     // 4px
$unit-spacing--2: 0.5rem;      // 8px
$unit-spacing--1: 0.75rem;     // 12px
$unit-spacing: 1rem;           // 16px
$unit-spacing-1: 1.25rem;      // 20px
$unit-spacing-2: 1.5rem;       // 24px
$unit-spacing-3: 1.75rem;      // 28px
