/* Setting variables */
$h-100vh: 100vh;

// wrapper
$wrapper-max-width--xxl: $s1920;
$wrapper-max-width--extra-big: $s1440;
$wrapper-max-width--big: $s960;
$wrapper-max-width: $s768;
$wrapper-max-width--small: $s640;
