<section class="card--scroll-content last">
  <h1 class="heading-intro">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
    recusandae qui. Iste, deleniti.
  </h1>
  <div class="article">
    <div class="left">
      <figure>
        <img src="../../../assets/images/img06.jpg" alt=""/>
      </figure>
    </div>
    <div class="right">
      <div class="block">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
          inventore quas sapiente expedita vel rerum dolor distinctio beatae
          doloribus! Quod dolorem libero sunt quidem doloribus ea temporibus
          nisi possimus consequatur?
        </p>
      </div>
      <div class="block">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
          inventore quas sapiente expedita vel rerum dolor distinctio beatae
          doloribus! Quod dolorem libero sunt quidem doloribus ea temporibus
          nisi possimus consequatur?
        </p>
      </div>
      <div class="block-1">Lorem ipsum dolor sit amet consectetur.</div>
    </div>
  </div>
</section>
