<div class="wrapper--extra-big borders">
  <div class="model-position">
    <div class="three">
      <div>
        <p class="italic bold typography-primary">Portfolio under costruction</p>
        <div class="main-hero--title">
          <h1 class="h1">Hi Folks,</h1>
          <h1 class="h1">I'm Sabrina Fiore</h1>
          <h1 class="h1">Welcome in my tiny house</h1>
        </div>
        <div class="spacing"></div>
        <div class="paragraph color-darker-gray line-height-small">
          <div class="bold">Front End Developer and UI Designer/Developer</div>
          <div>I work as a Front End Developer but I designed this portfolio to combine my knowledge about UI-Design and
            Front-End Development.</div>
          <div>
            <h4 class="h4 color-darker-gray bold spacing-top--large">About Me</h4>
            <div class="paragraph color-darker-gray">I was born in Bari, Southern Italy, on May
              19th, 1992. I attended the Academy of Fine Arts in Rome in 2011, where I started to elaborate my interest
              in graphic arts on a deep level. In 2017 I studied in Barcelona, where I developed my
              knowledge in coding and I approached the Hi-tech's world working as a Front-End Developer. Meantime I
              never stopped working on my photography and graphic art interests.</div>
            <h3 class="paragraph bold color-darker-gray spacing-top--large">Because of my background
              which allow me to be very sensitive to design details I'm constantly improving
              my Autodidact Creative Developer's and UI Developer knowledge also because I have a serious passion for
              and creating intuitive, dynamic user experiences.</h3>
          </div>
        </div>
      </div>
    </div>
    <app-model-obj
      class="spacing-pd-top--large model-box"
      [fObj]=true
      [obj$]="model"
    ></app-model-obj>
    <div class="pre-footer-portfolio-page"></div>
  </div>
</div>
