<div class="wrapper--extra-big borders">
  <div class="contact">
      <div class="contact--position">
        <p class="bold typography-primary">Available to talk about new opportunities</p>
        <div class="contact--title">
          <h3 class="h3">Email</h3>
          <p><a class="link" href="mailto:sabrinafiore1992@gmail.com" target="_blank">sabrinafiore1992@gmail.com</a></p>
          <div class="spacing"></div>
          <h3 class="h3">Follow me</h3>
          <div class="contact--link">
            <p><a class="link" href="https://www.linkedin.com/in/sabrina-fiore-8437a657/" target="_blank">Linkedin</a></p>
            <p><a class="link" href="https://github.com/SabrinaFiore" target="_blank">Github</a></p>
            <p><a class="link" href="https://www.instagram.com/sabrinafiore_dev/" target="_blank">Instagram</a></p>
          </div>
        </div>
      </div>
    <div class="pre-footer-portfolio-page"></div>
  </div>
</div>
