/* Reset */

*,
*::before,
*::after,
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

p,
h1,
h1,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: unset;
}

a {
  text-decoration: none;
}

input,
label,
button,
textarea,
figure {
  margin: 0;
  padding: 0;
}
