/* Typography */

$typography-primary-regular: 'EB Garamond', serif;
$typography-secondary-regular: 'optima', serif;
$typography-third-regular: 'Raleway', sans-serif;
$typography-fourth-regular: 'Roboto', sans-serif;
