<div class="hero wrapper--xxl">
  <section class="hero--header">
    <h1 class="hero--title h1">Code for design or design for coding</h1>
    <div class="bottom">
      <div class="bottom-left color-light-gray">Creativity process</div>
    </div>
  </section>
  <div class="content">
    <div class="fixed typography-fourth">
      <div class="gallery--text spacing-left-x-small">STAY EXPERIMENTAL & CREATIVE</div>
    </div>
    <div class="gallery">
      <!-- Grid Photo Main Section -->
      <section>
        <div class="gallery--container">
          <div class="gallery--item"></div>
          <div class="gallery--box gallery--item gallery--padding">
            <!-- Should be delete -->
            <paragraph class="gallery--box-text" [claim]="firstClaim"></paragraph>
            <paragraph class="gallery--box-text" [claim]="secondClaim"></paragraph>
            <paragraph class="gallery--box-text" [claim]="thirdClaim"></paragraph>
            <div class="gallery--claim">
              <div class="h1 bold typography-fourth">“thinking about designing not the object — but a process to generate objects.”</div>
            </div>
            <paragraph [claim]="fourthClaim"></paragraph>
          </div>
        </div>
        <p class="h5 typography-fourth color-light-gray spacing-left-medium">Use the mouse to move through the x, y, z axis of the objects</p>
        <div class="gallery--box gallery--item">
          <app-grid></app-grid>
        </div>
        <app-circle></app-circle>
        <div class="pre-footer"></div>
      </section>
    </div>
  </div>
</div>
